<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Drawback</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="main flex-container">
        <span class="error" *ngIf="error">{{ error }}</span>
        <div class="sign">Drawback</div>
        <div class="flex-element1">
          <button (click)="loginFb()" id="fb"></button><br>
          <button (click)="loginGoogle()" id="google"></button>
        </div>
        <div class="flex-element">
          <input class="un" type="text" placeholder="Username">
          <input class="pass" type="password"  placeholder="Password">
          <input class="submit" type="submit" value="Sign in" align="center">
        </div>
    </div>

</body>

</html>
