<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Drawback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<div>
    <canvas id='canvas'></canvas>
    <!-- Header -->
    <app-title [roomID]=id
                (sendTitle)="drawService.sendTitle($event.roomID, $event.name)">
    </app-title>
    <!-- Error Alerts -->
    <div id='alert' class="alert alert-danger">Not connected to the server.</div>
    <div id='overlay' class='modal'></div>
    <!-- Invite, Download, and Upload Bar -->
    <div id="top-right-bar" class="top-bar top-right-bar flex-horizontal canvas-component">
        <div class="bar flex-horizontal">
            <app-invite [roomID]="id"
                        (checkRoom)="drawService.requestRoomCheck($event)">
            </app-invite>
            <div class="bar-separator"></div>
            <div class="bar-button tool-tip">
                <i id="download" class="fa fa-download"></i>
                <span class="tool-tip-text">Download</span>
            </div>
            <div class="bar-button tool-tip">
                <i id="upload" class="fa fa-upload"></i>
                <span class="tool-tip-text">Upload</span>
            </div>
        </div>
        <div id="signup-login" class="bar bar-button flex-horizontal" (click)="authentication()">
            {{loginButton}}
        </div>
    </div>

    <!-- Mobile hamburger menu-->
    <div id="hamburger" class="mobile-button canvas-component" (click)="showMenu()">
        <i class="fa fa-bars"></i>
    </div>
    <div id="hamburger-dropdown" class="canvas-component">
        <div id="hamburger-signup-login" class="hamburger-button" (click)="authentication()">
            Sign up or Log in
        </div>
        <div id="hamburger-upload" class="hamburger-button">
            Upload
        </div>
        <div id="hamburger-download" class="hamburger-button">
            Download
        </div>
    </div>

    <!-- Toolbar -->
    <app-tools (setDraw)="setDraw($event)"
                (callUndo)="undo()"
                (callRedo)="redo()"
                (callClear)="clear()"
                (callZoom)="zoom($event)"
                [scaleValue]="scaleValue">
    </app-tools>
    <!-- User Count -->
    <div class="bottom-right-bar bar flex-horizontal canvas-component">
        <div id="num-users-text" class="bar-text"></div>
        <div class="user-bar-separator"> </div>
        <div id="num-users" class="bar-button">
            <i class="fa fa-user-circle"></i>
        </div>
    </div>
</div>
<!-- Bootstrap and JQuery Javascript files -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
</body>

</html>
