<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Drawback</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div>
    <canvas id='canvas'></canvas>
    <!-- Header -->
    <app-tools (setDraw)="setDraw($event)"
                (callUndo)="undo()"
                (callRedo)="redo()"
                (callClear)="clear()"
                (callZoom)="zoom($event)"
                [scaleValue]="scaleValue">
    </app-tools>
    <div class="top-bar header-bar flex-horizontal canvas-component">
        <div class="title-menu flex-horizontal">
            <div class="title-box">
                <input id="canvas-name" type="text" autocomplete="off"/>
                <div id="title-text">Welcome to your canvas!</div>
            </div>
        </div>
    </div>
    <!-- Sharing and User Bar -->
    <div class="top-bar top-right-bar flex-horizontal canvas-component">
        <!-- Copy URL, Upload, and Download Bar -->
        <div class="bar flex-horizontal">
            <div id="share-button" class="bar-button tool-tip" (click)="showShareModal()">
                <i class="fa fa-user-plus"></i>
                <span id="copy-tooltip" class="tool-tip-text">Share Room</span>
            </div>
            <div class="bar-separator"></div>
            <div class="bar-button tool-tip">
                <i id="download" class="fa fa-download"></i>
                <span class="tool-tip-text">Download</span>
            </div>
            <div class="bar-button tool-tip">
                <i id="upload" class="fa fa-upload"></i>
                <span class="tool-tip-text">Upload</span>
            </div>
        </div>
        <div id="signup-login" class="bar bar-button flex-horizontal" (click)="authentication()">{{loginButton}}</div>
    </div>
    <!-- User Count -->
    <div class="bottom-right-bar bar flex-horizontal canvas-component">
        <div id="num-users-text" class="bar-text"></div>
        <div class="bar-separator"></div>
        <div id="num-users" class="bar-button">
            <i class="fa fa-user-circle"></i>
        </div>
    </div>
</div>
<!-- Share Modal -->
<div id="share-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="close" (click)="closeShareModal()">&times;</div>
            <h2>Invite or Join Others</h2>
        </div>
        <div class="modal-body">
            <div class="modal-item">
                <div class="modal-text">Current Room URL</div>
                <div class="flex-horizontal">
                    <input id="room-url" type="text" class="input-bar" readonly>
                    <span id="copy-button" class="bar bar-button" (click)="copyURL()">Copy</span>
                </div>
            </div>
            <div class="modal-item">
                <div class="modal-text">Enter an existing room ID</div>
                <div class="flex-horizontal">
                    <input id="new-room-id" type="text" class="input-bar" maxlength="5" autocomplete="off" (input)="resetError()" >
                    <a id="change-room-button" class="bar bar-button" (click)="changeRoom()">Change Room</a>
                </div>
                <div id="error-message" class="error"></div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
