html body {
    font-family: sans-serif;
}
#canvas {
    position: relative;
    cursor: crosshair;
}
.canvas-component {
    position: absolute;
}
.flex-container {
    display: flex;
}
.flex {
    display: flex;
}

/* Header */
.header-bar {
    flex-direction: row;
    display: flex;
    top: 20px;
    left:100px;
    background-color: #555;
    border:1px solid #ddd;
    border-radius:8px;
    color: white;
}
.title-menu {
    border-radius: 8px;
}
.title-box {
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
}
.title-menu:hover {
    background-color: gray;
}
.canvas-name {
    background: 0 0;
    border: 1px solid transparent;
    font-weight: bold;
}
.title-text {
    padding: 0 2px;
    font-size: 10px;
    color: #b3b3b3;
}
.dropdown-symbol {
    align-items: center;
    margin-left: 15px;
    padding-right: 15px;
    border-right: 1px solid #ddd;
    cursor: pointer;
}
.copy-clipboard {
    align-items: center;
    display: flex;
    padding:5px 10px 5px 10px;
    margin:5px 10px 5px 10px;
    cursor: pointer;
    border-radius: 8px;
}
.copy-clipboard:hover {
    background-color: gray;
}

/* Toolbar */
.toolbar {
    flex-direction: column;
    width: 50px;
    height: auto;
    background-color: #555;
    border-radius: 8px;
}
.tool-menu {
    top: 100px;
    left: 10px;
}
.tool-button {
    cursor: pointer;
    text-align: center;
    padding: 5px;
    margin: 10px;
    color: white;
    font-size: 15px;
    transition: all 0.3s ease;
}
.tool-button:hover {
    background-color: gray;
    border-radius: 8px;
}
.active {
    background-color: #4CAF50!important;
    border-radius: 8px;
}
.tool-tip {
    position: relative;
    display: inline-block;
}
.tool-tip-text {
    visibility: hidden;
    min-width: 50px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip on top of the tool icon */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -25px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tool-tip:hover .tool-tip-text {
    font-size: 12px;
    visibility: visible;
}
.dropdown-caret {
    position: absolute;
    z-index: 2;
    bottom: 1px;
    right: 1px;
    font-size: 1;
}
.dropdown-menu {
    visibility: hidden;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    top: 5px;
    left: 45px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.show .dropdown-menu {
    visibility: visible;
}
.dropdown-item {
    text-align: center;
    padding: 5px 10px;
    margin: 0px 5px;
    font-size: 20px;
}
.dropdown-item:hover {
    background-color: gray;
    border-radius: 8px;
}
.size-menu {
    color: black;
}

/* Navigation Bar */
.navigation-bar {
    top: 100px;
    right: 10px;
}
.tools-text {
    text-align: center;
    color: gray;
    font-size: 12px;
}
.tools-separator {
    width: inherit;
    height:1px;
    background-color:#dedede;
    margin-bottom:8px;
}
